<div class="row">
    <div class="col-sm-1">
        <a href="/invoice" class="btn btn-default">New Invoice</a>
    </div>
</div>
<table class="table">
    <thead>
    <tr>
        <th style="text-align: left">Customer</th>
        <th style="text-align: center">Discount</th>
        <th style="text-align: right">Total</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="invoice in invoicesViews">
        <td style="text-align: left">{{invoice.name}}</td>
        <td style="text-align: center">{{invoice.discount}}</td>
        <td style="text-align: right">{{invoice.total}}</td>
        <td style="text-align: right">
            <a ng-click="onEditInvoice(invoice.id)" class="btn btn-default">Edit</a>
            <a ng-click="onDeleteInvoice(invoice.id)" class="btn btn-default">Delete</a>
        </td>
    </tr>
    </tbody>

